- let innerPedals = 12

mixin Pedal( width, height, ring_size, dash_or_dot)
    .pedal.pedal-shell.(class="ring-r" + ring_size)
        .pedal.pedal-whitespace 
            if dash_or_dot === 'dash'
                .pedal.pedal-dash 
            else
                .pedal.pedal-dot

mixin Ring()
    .ring-body(class="ring-r" + ring_size)
        .ring-whitespace 

doctype html
head
    meta(charset='UTF-8')
    meta(name='author' content='Ethan Philpott')
    meta(name='description' content='')
    meta(property='og:image' content='')
    meta(property='og:title' content='')
    meta(property='og:description' content='')
    title Pug Boiler Plate
    link(rel='stylesheet' href='../styles/css/min/style.min.css')
    link(rel='shortcut icon' href='' type='image/x-icon')
body 
    .intro
        div 
            - for (let i = 0; i < innerPedals; i++)
                +Pedal('dash', 50)
        +Ring 

    .main-content 


    script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
    script(src='../scripts/main.js')