*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button, input {
  outline: none;
}

@-webkit-keyframes FadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes FadeIn {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeOut {
  100% {
    opacity: 0;
  }
}

@keyframes FadeOut {
  100% {
    opacity: 0;
  }
}

.width-0px {
  width: 0px;
}

.width-2px {
  width: 2px;
}

.width-5px {
  width: 5px;
}

.width-7px {
  width: 7px;
}

.width-10px {
  width: 10px;
}

.width-12px {
  width: 12px;
}

.width-15px {
  width: 15px;
}

.width-17px {
  width: 17px;
}

.width-20px {
  width: 20px;
}

.width-22px {
  width: 22px;
}

.width-25px {
  width: 25px;
}

.width-27px {
  width: 27px;
}

.width-30px {
  width: 30px;
}

.width-32px {
  width: 32px;
}

.width-35px {
  width: 35px;
}

.width-37px {
  width: 37px;
}

.width-40px {
  width: 40px;
}

.width-42px {
  width: 42px;
}

.width-45px {
  width: 45px;
}

.width-47px {
  width: 47px;
}

.width-50px {
  width: 50px;
}

.width-52px {
  width: 52px;
}

.width-55px {
  width: 55px;
}

.width-57px {
  width: 57px;
}

.width-60px {
  width: 60px;
}

.width-62px {
  width: 62px;
}

.width-65px {
  width: 65px;
}

.width-67px {
  width: 67px;
}

.width-70px {
  width: 70px;
}

.width-72px {
  width: 72px;
}

.width-75px {
  width: 75px;
}

.width-77px {
  width: 77px;
}

.width-80px {
  width: 80px;
}

.width-82px {
  width: 82px;
}

.width-85px {
  width: 85px;
}

.width-87px {
  width: 87px;
}

.width-90px {
  width: 90px;
}

.width-92px {
  width: 92px;
}

.width-95px {
  width: 95px;
}

.width-97px {
  width: 97px;
}

.width-100px {
  width: 100px;
}

.width-102px {
  width: 102px;
}

.width-105px {
  width: 105px;
}

.width-107px {
  width: 107px;
}

.width-110px {
  width: 110px;
}

.width-112px {
  width: 112px;
}

.width-115px {
  width: 115px;
}

.width-117px {
  width: 117px;
}

.width-120px {
  width: 120px;
}

.width-122px {
  width: 122px;
}

.width-125px {
  width: 125px;
}

.width-127px {
  width: 127px;
}

.width-130px {
  width: 130px;
}

.width-132px {
  width: 132px;
}

.width-135px {
  width: 135px;
}

.width-137px {
  width: 137px;
}

.width-140px {
  width: 140px;
}

.width-142px {
  width: 142px;
}

.width-145px {
  width: 145px;
}

.width-147px {
  width: 147px;
}

.width-150px {
  width: 150px;
}

.width-152px {
  width: 152px;
}

.width-155px {
  width: 155px;
}

.width-157px {
  width: 157px;
}

.width-160px {
  width: 160px;
}

.width-162px {
  width: 162px;
}

.width-165px {
  width: 165px;
}

.width-167px {
  width: 167px;
}

.width-170px {
  width: 170px;
}

.width-172px {
  width: 172px;
}

.width-175px {
  width: 175px;
}

.width-177px {
  width: 177px;
}

.width-180px {
  width: 180px;
}

.width-182px {
  width: 182px;
}

.width-185px {
  width: 185px;
}

.width-187px {
  width: 187px;
}

.width-190px {
  width: 190px;
}

.width-192px {
  width: 192px;
}

.width-195px {
  width: 195px;
}

.width-197px {
  width: 197px;
}

.width-200px {
  width: 200px;
}

.height-0px {
  height: 0px;
}

.height-2px {
  height: 2px;
}

.height-5px {
  height: 5px;
}

.height-7px {
  height: 7px;
}

.height-10px {
  height: 10px;
}

.height-12px {
  height: 12px;
}

.height-15px {
  height: 15px;
}

.height-17px {
  height: 17px;
}

.height-20px {
  height: 20px;
}

.height-22px {
  height: 22px;
}

.height-25px {
  height: 25px;
}

.height-27px {
  height: 27px;
}

.height-30px {
  height: 30px;
}

.height-32px {
  height: 32px;
}

.height-35px {
  height: 35px;
}

.height-37px {
  height: 37px;
}

.height-40px {
  height: 40px;
}

.height-42px {
  height: 42px;
}

.height-45px {
  height: 45px;
}

.height-47px {
  height: 47px;
}

.height-50px {
  height: 50px;
}

.height-52px {
  height: 52px;
}

.height-55px {
  height: 55px;
}

.height-57px {
  height: 57px;
}

.height-60px {
  height: 60px;
}

.height-62px {
  height: 62px;
}

.height-65px {
  height: 65px;
}

.height-67px {
  height: 67px;
}

.height-70px {
  height: 70px;
}

.height-72px {
  height: 72px;
}

.height-75px {
  height: 75px;
}

.height-77px {
  height: 77px;
}

.height-80px {
  height: 80px;
}

.height-82px {
  height: 82px;
}

.height-85px {
  height: 85px;
}

.height-87px {
  height: 87px;
}

.height-90px {
  height: 90px;
}

.height-92px {
  height: 92px;
}

.height-95px {
  height: 95px;
}

.height-97px {
  height: 97px;
}

.height-100px {
  height: 100px;
}

.height-102px {
  height: 102px;
}

.height-105px {
  height: 105px;
}

.height-107px {
  height: 107px;
}

.height-110px {
  height: 110px;
}

.height-112px {
  height: 112px;
}

.height-115px {
  height: 115px;
}

.height-117px {
  height: 117px;
}

.height-120px {
  height: 120px;
}

.height-122px {
  height: 122px;
}

.height-125px {
  height: 125px;
}

.height-127px {
  height: 127px;
}

.height-130px {
  height: 130px;
}

.height-132px {
  height: 132px;
}

.height-135px {
  height: 135px;
}

.height-137px {
  height: 137px;
}

.height-140px {
  height: 140px;
}

.height-142px {
  height: 142px;
}

.height-145px {
  height: 145px;
}

.height-147px {
  height: 147px;
}

.height-150px {
  height: 150px;
}

.height-152px {
  height: 152px;
}

.height-155px {
  height: 155px;
}

.height-157px {
  height: 157px;
}

.height-160px {
  height: 160px;
}

.height-162px {
  height: 162px;
}

.height-165px {
  height: 165px;
}

.height-167px {
  height: 167px;
}

.height-170px {
  height: 170px;
}

.height-172px {
  height: 172px;
}

.height-175px {
  height: 175px;
}

.height-177px {
  height: 177px;
}

.height-180px {
  height: 180px;
}

.height-182px {
  height: 182px;
}

.height-185px {
  height: 185px;
}

.height-187px {
  height: 187px;
}

.height-190px {
  height: 190px;
}

.height-192px {
  height: 192px;
}

.height-195px {
  height: 195px;
}

.height-197px {
  height: 197px;
}

.height-200px {
  height: 200px;
}

.pedals1 .pedal-shell:nth-child(1) {
  -webkit-transform: translate(13.85641px, 8px) rotate(0.5236rad);
          transform: translate(13.85641px, 8px) rotate(0.5236rad);
}

.pedals1 .pedal-shell:nth-child(2) {
  -webkit-transform: translate(8px, 13.85641px) rotate(1.0472rad);
          transform: translate(8px, 13.85641px) rotate(1.0472rad);
}

.pedals1 .pedal-shell:nth-child(3) {
  -webkit-transform: translate(0px, 16px) rotate(1.5708rad);
          transform: translate(0px, 16px) rotate(1.5708rad);
}

.pedals1 .pedal-shell:nth-child(4) {
  -webkit-transform: translate(-8.0px, 13.85641px) rotate(2.0944rad);
          transform: translate(-8.0px, 13.85641px) rotate(2.0944rad);
}

.pedals1 .pedal-shell:nth-child(5) {
  -webkit-transform: translate(-13.85641px, 8px) rotate(2.61799rad);
          transform: translate(-13.85641px, 8px) rotate(2.61799rad);
}

.pedals1 .pedal-shell:nth-child(6) {
  -webkit-transform: translate(-16.0px, 0px) rotate(3.14159rad);
          transform: translate(-16.0px, 0px) rotate(3.14159rad);
}

.pedals1 .pedal-shell:nth-child(7) {
  -webkit-transform: translate(-13.85639px, -8.0px) rotate(3.66519rad);
          transform: translate(-13.85639px, -8.0px) rotate(3.66519rad);
}

.pedals1 .pedal-shell:nth-child(8) {
  -webkit-transform: translate(-7.99982px, -13.85641px) rotate(4.18879rad);
          transform: translate(-7.99982px, -13.85641px) rotate(4.18879rad);
}

.pedals1 .pedal-shell:nth-child(9) {
  -webkit-transform: translate(0px, -16.0px) rotate(4.71239rad);
          transform: translate(0px, -16.0px) rotate(4.71239rad);
}

.pedals1 .pedal-shell:nth-child(10) {
  -webkit-transform: translate(8px, -13.85639px) rotate(5.23599rad);
          transform: translate(8px, -13.85639px) rotate(5.23599rad);
}

.pedals1 .pedal-shell:nth-child(11) {
  -webkit-transform: translate(13.85641px, -7.99982px) rotate(5.75959rad);
          transform: translate(13.85641px, -7.99982px) rotate(5.75959rad);
}

.pedals1 .pedal-shell:nth-child(12) {
  -webkit-transform: translate(16px, 0px) rotate(6.28319rad);
          transform: translate(16px, 0px) rotate(6.28319rad);
}

.pedals2 .pedal-shell:nth-child(1) {
  -webkit-transform: translate(0px, 20px) rotate(1.5708rad);
          transform: translate(0px, 20px) rotate(1.5708rad);
}

.pedals2 .pedal-shell:nth-child(2) {
  -webkit-transform: translate(-17.32051px, 10px) rotate(2.61799rad);
          transform: translate(-17.32051px, 10px) rotate(2.61799rad);
}

.pedals2 .pedal-shell:nth-child(3) {
  -webkit-transform: translate(-17.32048px, -10.0px) rotate(3.66519rad);
          transform: translate(-17.32048px, -10.0px) rotate(3.66519rad);
}

.pedals2 .pedal-shell:nth-child(4) {
  -webkit-transform: translate(0px, -20.0px) rotate(4.71239rad);
          transform: translate(0px, -20.0px) rotate(4.71239rad);
}

.pedals2 .pedal-shell:nth-child(5) {
  -webkit-transform: translate(17.32051px, -9.99977px) rotate(5.75959rad);
          transform: translate(17.32051px, -9.99977px) rotate(5.75959rad);
}

.pedals2 .pedal-shell:nth-child(6) {
  -webkit-transform: translate(17.32051px, 10px) rotate(6.80678rad);
          transform: translate(17.32051px, 10px) rotate(6.80678rad);
}

.pedals3 .pedal-shell:nth-child(1) {
  -webkit-transform: translate(10px, 17.32051px) rotate(1.0472rad);
          transform: translate(10px, 17.32051px) rotate(1.0472rad);
}

.pedals3 .pedal-shell:nth-child(2) {
  -webkit-transform: translate(-10.0px, 17.32051px) rotate(2.0944rad);
          transform: translate(-10.0px, 17.32051px) rotate(2.0944rad);
}

.pedals3 .pedal-shell:nth-child(3) {
  -webkit-transform: translate(-20.0px, 0px) rotate(3.14159rad);
          transform: translate(-20.0px, 0px) rotate(3.14159rad);
}

.pedals3 .pedal-shell:nth-child(4) {
  -webkit-transform: translate(-9.99977px, -17.32051px) rotate(4.18879rad);
          transform: translate(-9.99977px, -17.32051px) rotate(4.18879rad);
}

.pedals3 .pedal-shell:nth-child(5) {
  -webkit-transform: translate(10px, -17.32048px) rotate(5.23599rad);
          transform: translate(10px, -17.32048px) rotate(5.23599rad);
}

.pedals3 .pedal-shell:nth-child(6) {
  -webkit-transform: translate(20px, 0px) rotate(6.28319rad);
          transform: translate(20px, 0px) rotate(6.28319rad);
}

.pedals4 .pedal-shell:nth-child(1) {
  -webkit-transform: translate(28.28427px, 28.28427px) rotate(0.7854rad);
          transform: translate(28.28427px, 28.28427px) rotate(0.7854rad);
}

.pedals4 .pedal-shell:nth-child(2) {
  -webkit-transform: translate(10.35276px, 38.63703px) rotate(1.309rad);
          transform: translate(10.35276px, 38.63703px) rotate(1.309rad);
}

.pedals4 .pedal-shell:nth-child(3) {
  -webkit-transform: translate(-10.35276px, 38.63703px) rotate(1.8326rad);
          transform: translate(-10.35276px, 38.63703px) rotate(1.8326rad);
}

.pedals4 .pedal-shell:nth-child(4) {
  -webkit-transform: translate(-28.28427px, 28.28427px) rotate(2.35619rad);
          transform: translate(-28.28427px, 28.28427px) rotate(2.35619rad);
}

.pedals4 .pedal-shell:nth-child(5) {
  -webkit-transform: translate(-38.63703px, 10.35276px) rotate(2.87979rad);
          transform: translate(-38.63703px, 10.35276px) rotate(2.87979rad);
}

.pedals4 .pedal-shell:nth-child(6) {
  -webkit-transform: translate(-38.63702px, -10.35276px) rotate(3.40339rad);
          transform: translate(-38.63702px, -10.35276px) rotate(3.40339rad);
}

.pedals4 .pedal-shell:nth-child(7) {
  -webkit-transform: translate(-28.28412px, -28.28427px) rotate(3.92699rad);
          transform: translate(-28.28412px, -28.28427px) rotate(3.92699rad);
}

.pedals4 .pedal-shell:nth-child(8) {
  -webkit-transform: translate(-10.35151px, -38.63703px) rotate(4.45059rad);
          transform: translate(-10.35151px, -38.63703px) rotate(4.45059rad);
}

.pedals4 .pedal-shell:nth-child(9) {
  -webkit-transform: translate(10.35276px, -38.63702px) rotate(4.97419rad);
          transform: translate(10.35276px, -38.63702px) rotate(4.97419rad);
}

.pedals4 .pedal-shell:nth-child(10) {
  -webkit-transform: translate(28.28427px, -28.28412px) rotate(5.49779rad);
          transform: translate(28.28427px, -28.28412px) rotate(5.49779rad);
}

.pedals4 .pedal-shell:nth-child(11) {
  -webkit-transform: translate(38.63703px, -10.35151px) rotate(6.02139rad);
          transform: translate(38.63703px, -10.35151px) rotate(6.02139rad);
}

.pedals4 .pedal-shell:nth-child(12) {
  -webkit-transform: translate(38.63703px, 10.35276px) rotate(6.54498rad);
          transform: translate(38.63703px, 10.35276px) rotate(6.54498rad);
}

.pedals5 .pedal-shell:nth-child(1) {
  -webkit-transform: translate(51.96152px, 30px) rotate(0.5236rad);
          transform: translate(51.96152px, 30px) rotate(0.5236rad);
}

.pedals5 .pedal-shell:nth-child(2) {
  -webkit-transform: translate(30px, 51.96152px) rotate(1.0472rad);
          transform: translate(30px, 51.96152px) rotate(1.0472rad);
}

.pedals5 .pedal-shell:nth-child(3) {
  -webkit-transform: translate(0px, 60px) rotate(1.5708rad);
          transform: translate(0px, 60px) rotate(1.5708rad);
}

.pedals5 .pedal-shell:nth-child(4) {
  -webkit-transform: translate(-30.0px, 51.96152px) rotate(2.0944rad);
          transform: translate(-30.0px, 51.96152px) rotate(2.0944rad);
}

.pedals5 .pedal-shell:nth-child(5) {
  -webkit-transform: translate(-51.96152px, 30px) rotate(2.61799rad);
          transform: translate(-51.96152px, 30px) rotate(2.61799rad);
}

.pedals5 .pedal-shell:nth-child(6) {
  -webkit-transform: translate(-59.99999px, 0px) rotate(3.14159rad);
          transform: translate(-59.99999px, 0px) rotate(3.14159rad);
}

.pedals5 .pedal-shell:nth-child(7) {
  -webkit-transform: translate(-51.96145px, -30.0px) rotate(3.66519rad);
          transform: translate(-51.96145px, -30.0px) rotate(3.66519rad);
}

.pedals5 .pedal-shell:nth-child(8) {
  -webkit-transform: translate(-29.99932px, -51.96152px) rotate(4.18879rad);
          transform: translate(-29.99932px, -51.96152px) rotate(4.18879rad);
}

.pedals5 .pedal-shell:nth-child(9) {
  -webkit-transform: translate(0px, -59.99999px) rotate(4.71239rad);
          transform: translate(0px, -59.99999px) rotate(4.71239rad);
}

.pedals5 .pedal-shell:nth-child(10) {
  -webkit-transform: translate(30px, -51.96145px) rotate(5.23599rad);
          transform: translate(30px, -51.96145px) rotate(5.23599rad);
}

.pedals5 .pedal-shell:nth-child(11) {
  -webkit-transform: translate(51.96152px, -29.99932px) rotate(5.75959rad);
          transform: translate(51.96152px, -29.99932px) rotate(5.75959rad);
}

.pedals5 .pedal-shell:nth-child(12) {
  -webkit-transform: translate(60px, 0px) rotate(6.28319rad);
          transform: translate(60px, 0px) rotate(6.28319rad);
}

.pedals6 .pedal-shell:nth-child(1) {
  -webkit-transform: translate(42.42641px, 42.42641px) rotate(0.7854rad);
          transform: translate(42.42641px, 42.42641px) rotate(0.7854rad);
}

.pedals6 .pedal-shell:nth-child(2) {
  -webkit-transform: translate(15.52914px, 57.95555px) rotate(1.309rad);
          transform: translate(15.52914px, 57.95555px) rotate(1.309rad);
}

.pedals6 .pedal-shell:nth-child(3) {
  -webkit-transform: translate(-15.52914px, 57.95555px) rotate(1.8326rad);
          transform: translate(-15.52914px, 57.95555px) rotate(1.8326rad);
}

.pedals6 .pedal-shell:nth-child(4) {
  -webkit-transform: translate(-42.42641px, 42.42641px) rotate(2.35619rad);
          transform: translate(-42.42641px, 42.42641px) rotate(2.35619rad);
}

.pedals6 .pedal-shell:nth-child(5) {
  -webkit-transform: translate(-57.95555px, 15.52914px) rotate(2.87979rad);
          transform: translate(-57.95555px, 15.52914px) rotate(2.87979rad);
}

.pedals6 .pedal-shell:nth-child(6) {
  -webkit-transform: translate(-57.95553px, -15.52914px) rotate(3.40339rad);
          transform: translate(-57.95553px, -15.52914px) rotate(3.40339rad);
}

.pedals6 .pedal-shell:nth-child(7) {
  -webkit-transform: translate(-42.42617px, -42.42641px) rotate(3.92699rad);
          transform: translate(-42.42617px, -42.42641px) rotate(3.92699rad);
}

.pedals6 .pedal-shell:nth-child(8) {
  -webkit-transform: translate(-15.52727px, -57.95555px) rotate(4.45059rad);
          transform: translate(-15.52727px, -57.95555px) rotate(4.45059rad);
}

.pedals6 .pedal-shell:nth-child(9) {
  -webkit-transform: translate(15.52914px, -57.95553px) rotate(4.97419rad);
          transform: translate(15.52914px, -57.95553px) rotate(4.97419rad);
}

.pedals6 .pedal-shell:nth-child(10) {
  -webkit-transform: translate(42.42641px, -42.42617px) rotate(5.49779rad);
          transform: translate(42.42641px, -42.42617px) rotate(5.49779rad);
}

.pedals6 .pedal-shell:nth-child(11) {
  -webkit-transform: translate(57.95555px, -15.52727px) rotate(6.02139rad);
          transform: translate(57.95555px, -15.52727px) rotate(6.02139rad);
}

.pedals6 .pedal-shell:nth-child(12) {
  -webkit-transform: translate(57.95555px, 15.52914px) rotate(6.54498rad);
          transform: translate(57.95555px, 15.52914px) rotate(6.54498rad);
}

.pedals7 .pedal-shell:nth-child(1) {
  -webkit-transform: translate(78.52976px, 32.52809px) rotate(0.3927rad);
          transform: translate(78.52976px, 32.52809px) rotate(0.3927rad);
}

.pedals7 .pedal-shell:nth-child(2) {
  -webkit-transform: translate(67.43503px, 51.74472px) rotate(0.6545rad);
          transform: translate(67.43503px, 51.74472px) rotate(0.6545rad);
}

.pedals7 .pedal-shell:nth-child(3) {
  -webkit-transform: translate(51.74472px, 67.43503px) rotate(0.9163rad);
          transform: translate(51.74472px, 67.43503px) rotate(0.9163rad);
}

.pedals7 .pedal-shell:nth-child(4) {
  -webkit-transform: translate(32.52809px, 78.52976px) rotate(1.1781rad);
          transform: translate(32.52809px, 78.52976px) rotate(1.1781rad);
}

.pedals7 .pedal-shell:nth-child(5) {
  -webkit-transform: translate(11.09473px, 84.27281px) rotate(1.4399rad);
          transform: translate(11.09473px, 84.27281px) rotate(1.4399rad);
}

.pedals7 .pedal-shell:nth-child(6) {
  -webkit-transform: translate(-11.09473px, 84.27281px) rotate(1.7017rad);
          transform: translate(-11.09473px, 84.27281px) rotate(1.7017rad);
}

.pedals7 .pedal-shell:nth-child(7) {
  -webkit-transform: translate(-32.52809px, 78.52976px) rotate(1.9635rad);
          transform: translate(-32.52809px, 78.52976px) rotate(1.9635rad);
}

.pedals7 .pedal-shell:nth-child(8) {
  -webkit-transform: translate(-51.74472px, 67.43503px) rotate(2.22529rad);
          transform: translate(-51.74472px, 67.43503px) rotate(2.22529rad);
}

.pedals7 .pedal-shell:nth-child(9) {
  -webkit-transform: translate(-67.43503px, 51.74472px) rotate(2.48709rad);
          transform: translate(-67.43503px, 51.74472px) rotate(2.48709rad);
}

.pedals7 .pedal-shell:nth-child(10) {
  -webkit-transform: translate(-78.52976px, 32.52809px) rotate(2.74889rad);
          transform: translate(-78.52976px, 32.52809px) rotate(2.74889rad);
}

.pedals7 .pedal-shell:nth-child(11) {
  -webkit-transform: translate(-84.27281px, 11.09473px) rotate(3.01069rad);
          transform: translate(-84.27281px, 11.09473px) rotate(3.01069rad);
}

.pedals7 .pedal-shell:nth-child(12) {
  -webkit-transform: translate(-84.2728px, -11.09473px) rotate(3.27249rad);
          transform: translate(-84.2728px, -11.09473px) rotate(3.27249rad);
}

.pedals7 .pedal-shell:nth-child(13) {
  -webkit-transform: translate(-78.5297px, -32.52809px) rotate(3.53429rad);
          transform: translate(-78.5297px, -32.52809px) rotate(3.53429rad);
}

.pedals7 .pedal-shell:nth-child(14) {
  -webkit-transform: translate(-67.43484px, -51.74472px) rotate(3.79609rad);
          transform: translate(-67.43484px, -51.74472px) rotate(3.79609rad);
}

.pedals7 .pedal-shell:nth-child(15) {
  -webkit-transform: translate(-51.74415px, -67.43503px) rotate(4.05789rad);
          transform: translate(-51.74415px, -67.43503px) rotate(4.05789rad);
}

.pedals7 .pedal-shell:nth-child(16) {
  -webkit-transform: translate(-32.52649px, -78.52976px) rotate(4.31969rad);
          transform: translate(-32.52649px, -78.52976px) rotate(4.31969rad);
}

.pedals7 .pedal-shell:nth-child(17) {
  -webkit-transform: translate(-11.09038px, -84.27281px) rotate(4.58149rad);
          transform: translate(-11.09038px, -84.27281px) rotate(4.58149rad);
}

.pedals7 .pedal-shell:nth-child(18) {
  -webkit-transform: translate(11.09473px, -84.2728px) rotate(4.84329rad);
          transform: translate(11.09473px, -84.2728px) rotate(4.84329rad);
}

.pedals7 .pedal-shell:nth-child(19) {
  -webkit-transform: translate(32.52809px, -78.5297px) rotate(5.10509rad);
          transform: translate(32.52809px, -78.5297px) rotate(5.10509rad);
}

.pedals7 .pedal-shell:nth-child(20) {
  -webkit-transform: translate(51.74472px, -67.43484px) rotate(5.36689rad);
          transform: translate(51.74472px, -67.43484px) rotate(5.36689rad);
}

.pedals7 .pedal-shell:nth-child(21) {
  -webkit-transform: translate(67.43503px, -51.74415px) rotate(5.62869rad);
          transform: translate(67.43503px, -51.74415px) rotate(5.62869rad);
}

.pedals7 .pedal-shell:nth-child(22) {
  -webkit-transform: translate(78.52976px, -32.52649px) rotate(5.89049rad);
          transform: translate(78.52976px, -32.52649px) rotate(5.89049rad);
}

.pedals7 .pedal-shell:nth-child(23) {
  -webkit-transform: translate(84.27281px, -11.09038px) rotate(6.15229rad);
          transform: translate(84.27281px, -11.09038px) rotate(6.15229rad);
}

.pedals7 .pedal-shell:nth-child(24) {
  -webkit-transform: translate(84.27281px, 11.09473px) rotate(6.41409rad);
          transform: translate(84.27281px, 11.09473px) rotate(6.41409rad);
}

.pedals8 .pedal-shell:nth-child(1) {
  -webkit-transform: translate(70.71068px, 70.71068px) rotate(0.7854rad);
          transform: translate(70.71068px, 70.71068px) rotate(0.7854rad);
}

.pedals8 .pedal-shell:nth-child(2) {
  -webkit-transform: translate(0px, 100px) rotate(1.5708rad);
          transform: translate(0px, 100px) rotate(1.5708rad);
}

.pedals8 .pedal-shell:nth-child(3) {
  -webkit-transform: translate(-70.71068px, 70.71068px) rotate(2.35619rad);
          transform: translate(-70.71068px, 70.71068px) rotate(2.35619rad);
}

.pedals8 .pedal-shell:nth-child(4) {
  -webkit-transform: translate(-99.99999px, 0px) rotate(3.14159rad);
          transform: translate(-99.99999px, 0px) rotate(3.14159rad);
}

.pedals8 .pedal-shell:nth-child(5) {
  -webkit-transform: translate(-70.71029px, -70.71068px) rotate(3.92699rad);
          transform: translate(-70.71029px, -70.71068px) rotate(3.92699rad);
}

.pedals8 .pedal-shell:nth-child(6) {
  -webkit-transform: translate(0px, -99.99999px) rotate(4.71239rad);
          transform: translate(0px, -99.99999px) rotate(4.71239rad);
}

.pedals8 .pedal-shell:nth-child(7) {
  -webkit-transform: translate(70.71068px, -70.71029px) rotate(5.49779rad);
          transform: translate(70.71068px, -70.71029px) rotate(5.49779rad);
}

.pedals8 .pedal-shell:nth-child(8) {
  -webkit-transform: translate(100px, 0px) rotate(6.28319rad);
          transform: translate(100px, 0px) rotate(6.28319rad);
}

.dashes1 .dash-body:nth-child(1) {
  -webkit-transform: translate(28.99138px, 28.99138px) rotate(0.7854rad);
          transform: translate(28.99138px, 28.99138px) rotate(0.7854rad);
}

.dashes1 .dash-body:nth-child(2) {
  -webkit-transform: translate(10.61158px, 39.60296px) rotate(1.309rad);
          transform: translate(10.61158px, 39.60296px) rotate(1.309rad);
}

.dashes1 .dash-body:nth-child(3) {
  -webkit-transform: translate(-10.61158px, 39.60296px) rotate(1.8326rad);
          transform: translate(-10.61158px, 39.60296px) rotate(1.8326rad);
}

.dashes1 .dash-body:nth-child(4) {
  -webkit-transform: translate(-28.99138px, 28.99138px) rotate(2.35619rad);
          transform: translate(-28.99138px, 28.99138px) rotate(2.35619rad);
}

.dashes1 .dash-body:nth-child(5) {
  -webkit-transform: translate(-39.60296px, 10.61158px) rotate(2.87979rad);
          transform: translate(-39.60296px, 10.61158px) rotate(2.87979rad);
}

.dashes1 .dash-body:nth-child(6) {
  -webkit-transform: translate(-39.60294px, -10.61158px) rotate(3.40339rad);
          transform: translate(-39.60294px, -10.61158px) rotate(3.40339rad);
}

.dashes1 .dash-body:nth-child(7) {
  -webkit-transform: translate(-28.99122px, -28.99138px) rotate(3.92699rad);
          transform: translate(-28.99122px, -28.99138px) rotate(3.92699rad);
}

.dashes1 .dash-body:nth-child(8) {
  -webkit-transform: translate(-10.6103px, -39.60296px) rotate(4.45059rad);
          transform: translate(-10.6103px, -39.60296px) rotate(4.45059rad);
}

.dashes1 .dash-body:nth-child(9) {
  -webkit-transform: translate(10.61158px, -39.60294px) rotate(4.97419rad);
          transform: translate(10.61158px, -39.60294px) rotate(4.97419rad);
}

.dashes1 .dash-body:nth-child(10) {
  -webkit-transform: translate(28.99138px, -28.99122px) rotate(5.49779rad);
          transform: translate(28.99138px, -28.99122px) rotate(5.49779rad);
}

.dashes1 .dash-body:nth-child(11) {
  -webkit-transform: translate(39.60296px, -10.6103px) rotate(6.02139rad);
          transform: translate(39.60296px, -10.6103px) rotate(6.02139rad);
}

.dashes1 .dash-body:nth-child(12) {
  -webkit-transform: translate(39.60296px, 10.61158px) rotate(6.54498rad);
          transform: translate(39.60296px, 10.61158px) rotate(6.54498rad);
}

.dashes2 .dash-body:nth-child(1) {
  -webkit-transform: translate(40.70319px, 23.5px) rotate(0.5236rad);
          transform: translate(40.70319px, 23.5px) rotate(0.5236rad);
}

.dashes2 .dash-body:nth-child(2) {
  -webkit-transform: translate(23.5px, 40.70319px) rotate(1.0472rad);
          transform: translate(23.5px, 40.70319px) rotate(1.0472rad);
}

.dashes2 .dash-body:nth-child(3) {
  -webkit-transform: translate(0px, 47px) rotate(1.5708rad);
          transform: translate(0px, 47px) rotate(1.5708rad);
}

.dashes2 .dash-body:nth-child(4) {
  -webkit-transform: translate(-23.5px, 40.70319px) rotate(2.0944rad);
          transform: translate(-23.5px, 40.70319px) rotate(2.0944rad);
}

.dashes2 .dash-body:nth-child(5) {
  -webkit-transform: translate(-40.70319px, 23.5px) rotate(2.61799rad);
          transform: translate(-40.70319px, 23.5px) rotate(2.61799rad);
}

.dashes2 .dash-body:nth-child(6) {
  -webkit-transform: translate(-46.99999px, 0px) rotate(3.14159rad);
          transform: translate(-46.99999px, 0px) rotate(3.14159rad);
}

.dashes2 .dash-body:nth-child(7) {
  -webkit-transform: translate(-40.70313px, -23.5px) rotate(3.66519rad);
          transform: translate(-40.70313px, -23.5px) rotate(3.66519rad);
}

.dashes2 .dash-body:nth-child(8) {
  -webkit-transform: translate(-23.49947px, -40.70319px) rotate(4.18879rad);
          transform: translate(-23.49947px, -40.70319px) rotate(4.18879rad);
}

.dashes2 .dash-body:nth-child(9) {
  -webkit-transform: translate(0px, -46.99999px) rotate(4.71239rad);
          transform: translate(0px, -46.99999px) rotate(4.71239rad);
}

.dashes2 .dash-body:nth-child(10) {
  -webkit-transform: translate(23.5px, -40.70313px) rotate(5.23599rad);
          transform: translate(23.5px, -40.70313px) rotate(5.23599rad);
}

.dashes2 .dash-body:nth-child(11) {
  -webkit-transform: translate(40.70319px, -23.49947px) rotate(5.75959rad);
          transform: translate(40.70319px, -23.49947px) rotate(5.75959rad);
}

.dashes2 .dash-body:nth-child(12) {
  -webkit-transform: translate(47px, 0px) rotate(6.28319rad);
          transform: translate(47px, 0px) rotate(6.28319rad);
}

.dashes3 .dash-body:nth-child(1) {
  -webkit-transform: translate(82.1037px, 21.99962px) rotate(0.2618rad);
          transform: translate(82.1037px, 21.99962px) rotate(0.2618rad);
}

.dashes3 .dash-body:nth-child(2) {
  -webkit-transform: translate(73.61216px, 42.5px) rotate(0.5236rad);
          transform: translate(73.61216px, 42.5px) rotate(0.5236rad);
}

.dashes3 .dash-body:nth-child(3) {
  -webkit-transform: translate(60.10408px, 60.10408px) rotate(0.7854rad);
          transform: translate(60.10408px, 60.10408px) rotate(0.7854rad);
}

.dashes3 .dash-body:nth-child(4) {
  -webkit-transform: translate(42.5px, 73.61216px) rotate(1.0472rad);
          transform: translate(42.5px, 73.61216px) rotate(1.0472rad);
}

.dashes3 .dash-body:nth-child(5) {
  -webkit-transform: translate(21.99962px, 82.1037px) rotate(1.309rad);
          transform: translate(21.99962px, 82.1037px) rotate(1.309rad);
}

.dashes3 .dash-body:nth-child(6) {
  -webkit-transform: translate(0px, 85px) rotate(1.5708rad);
          transform: translate(0px, 85px) rotate(1.5708rad);
}

.dashes3 .dash-body:nth-child(7) {
  -webkit-transform: translate(-21.99962px, 82.1037px) rotate(1.8326rad);
          transform: translate(-21.99962px, 82.1037px) rotate(1.8326rad);
}

.dashes3 .dash-body:nth-child(8) {
  -webkit-transform: translate(-42.5px, 73.61216px) rotate(2.0944rad);
          transform: translate(-42.5px, 73.61216px) rotate(2.0944rad);
}

.dashes3 .dash-body:nth-child(9) {
  -webkit-transform: translate(-60.10408px, 60.10408px) rotate(2.35619rad);
          transform: translate(-60.10408px, 60.10408px) rotate(2.35619rad);
}

.dashes3 .dash-body:nth-child(10) {
  -webkit-transform: translate(-73.61216px, 42.5px) rotate(2.61799rad);
          transform: translate(-73.61216px, 42.5px) rotate(2.61799rad);
}

.dashes3 .dash-body:nth-child(11) {
  -webkit-transform: translate(-82.10369px, 21.99962px) rotate(2.87979rad);
          transform: translate(-82.10369px, 21.99962px) rotate(2.87979rad);
}

.dashes3 .dash-body:nth-child(12) {
  -webkit-transform: translate(-84.99999px, 0px) rotate(3.14159rad);
          transform: translate(-84.99999px, 0px) rotate(3.14159rad);
}

.dashes3 .dash-body:nth-child(13) {
  -webkit-transform: translate(-82.10366px, -21.99962px) rotate(3.40339rad);
          transform: translate(-82.10366px, -21.99962px) rotate(3.40339rad);
}

.dashes3 .dash-body:nth-child(14) {
  -webkit-transform: translate(-73.61205px, -42.5px) rotate(3.66519rad);
          transform: translate(-73.61205px, -42.5px) rotate(3.66519rad);
}

.dashes3 .dash-body:nth-child(15) {
  -webkit-transform: translate(-60.10375px, -60.10408px) rotate(3.92699rad);
          transform: translate(-60.10375px, -60.10408px) rotate(3.92699rad);
}

.dashes3 .dash-body:nth-child(16) {
  -webkit-transform: translate(-42.49904px, -73.61216px) rotate(4.18879rad);
          transform: translate(-42.49904px, -73.61216px) rotate(4.18879rad);
}

.dashes3 .dash-body:nth-child(17) {
  -webkit-transform: translate(-21.99696px, -82.10369px) rotate(4.45059rad);
          transform: translate(-21.99696px, -82.10369px) rotate(4.45059rad);
}

.dashes3 .dash-body:nth-child(18) {
  -webkit-transform: translate(0px, -84.99999px) rotate(4.71239rad);
          transform: translate(0px, -84.99999px) rotate(4.71239rad);
}

.dashes3 .dash-body:nth-child(19) {
  -webkit-transform: translate(21.99962px, -82.10366px) rotate(4.97419rad);
          transform: translate(21.99962px, -82.10366px) rotate(4.97419rad);
}

.dashes3 .dash-body:nth-child(20) {
  -webkit-transform: translate(42.5px, -73.61205px) rotate(5.23599rad);
          transform: translate(42.5px, -73.61205px) rotate(5.23599rad);
}

.dashes3 .dash-body:nth-child(21) {
  -webkit-transform: translate(60.10408px, -60.10375px) rotate(5.49779rad);
          transform: translate(60.10408px, -60.10375px) rotate(5.49779rad);
}

.dashes3 .dash-body:nth-child(22) {
  -webkit-transform: translate(73.61216px, -42.49904px) rotate(5.75959rad);
          transform: translate(73.61216px, -42.49904px) rotate(5.75959rad);
}

.dashes3 .dash-body:nth-child(23) {
  -webkit-transform: translate(82.1037px, -21.99696px) rotate(6.02139rad);
          transform: translate(82.1037px, -21.99696px) rotate(6.02139rad);
}

.dashes3 .dash-body:nth-child(24) {
  -webkit-transform: translate(85px, 0px) rotate(6.28319rad);
          transform: translate(85px, 0px) rotate(6.28319rad);
}

.dots1 .ring-body:nth-child(1) {
  -webkit-transform: translate(56.29165px, 32.5px) rotate(0.5236rad);
          transform: translate(56.29165px, 32.5px) rotate(0.5236rad);
}

.dots1 .ring-body:nth-child(2) {
  -webkit-transform: translate(32.5px, 56.29165px) rotate(1.0472rad);
          transform: translate(32.5px, 56.29165px) rotate(1.0472rad);
}

.dots1 .ring-body:nth-child(3) {
  -webkit-transform: translate(0px, 65px) rotate(1.5708rad);
          transform: translate(0px, 65px) rotate(1.5708rad);
}

.dots1 .ring-body:nth-child(4) {
  -webkit-transform: translate(-32.5px, 56.29165px) rotate(2.0944rad);
          transform: translate(-32.5px, 56.29165px) rotate(2.0944rad);
}

.dots1 .ring-body:nth-child(5) {
  -webkit-transform: translate(-56.29165px, 32.5px) rotate(2.61799rad);
          transform: translate(-56.29165px, 32.5px) rotate(2.61799rad);
}

.dots1 .ring-body:nth-child(6) {
  -webkit-transform: translate(-64.99999px, 0px) rotate(3.14159rad);
          transform: translate(-64.99999px, 0px) rotate(3.14159rad);
}

.dots1 .ring-body:nth-child(7) {
  -webkit-transform: translate(-56.29157px, -32.5px) rotate(3.66519rad);
          transform: translate(-56.29157px, -32.5px) rotate(3.66519rad);
}

.dots1 .ring-body:nth-child(8) {
  -webkit-transform: translate(-32.49927px, -56.29165px) rotate(4.18879rad);
          transform: translate(-32.49927px, -56.29165px) rotate(4.18879rad);
}

.dots1 .ring-body:nth-child(9) {
  -webkit-transform: translate(0px, -64.99999px) rotate(4.71239rad);
          transform: translate(0px, -64.99999px) rotate(4.71239rad);
}

.dots1 .ring-body:nth-child(10) {
  -webkit-transform: translate(32.5px, -56.29157px) rotate(5.23599rad);
          transform: translate(32.5px, -56.29157px) rotate(5.23599rad);
}

.dots1 .ring-body:nth-child(11) {
  -webkit-transform: translate(56.29165px, -32.49927px) rotate(5.75959rad);
          transform: translate(56.29165px, -32.49927px) rotate(5.75959rad);
}

.dots1 .ring-body:nth-child(12) {
  -webkit-transform: translate(65px, 0px) rotate(6.28319rad);
          transform: translate(65px, 0px) rotate(6.28319rad);
}

.mandalas .mandala-cont:nth-child(1) {
  -webkit-transform: translate(100px, 173.20508px) rotate(1.0472rad);
          transform: translate(100px, 173.20508px) rotate(1.0472rad);
}

.mandalas .mandala-cont:nth-child(2) {
  -webkit-transform: translate(-100.0px, 173.20508px) rotate(2.0944rad);
          transform: translate(-100.0px, 173.20508px) rotate(2.0944rad);
}

.mandalas .mandala-cont:nth-child(3) {
  -webkit-transform: translate(-199.99998px, 0px) rotate(3.14159rad);
          transform: translate(-199.99998px, 0px) rotate(3.14159rad);
}

.mandalas .mandala-cont:nth-child(4) {
  -webkit-transform: translate(-99.99774px, -173.20508px) rotate(4.18879rad);
          transform: translate(-99.99774px, -173.20508px) rotate(4.18879rad);
}

.mandalas .mandala-cont:nth-child(5) {
  -webkit-transform: translate(100px, -173.20483px) rotate(5.23599rad);
          transform: translate(100px, -173.20483px) rotate(5.23599rad);
}

.mandalas .mandala-cont:nth-child(6) {
  -webkit-transform: translate(200px, 0px) rotate(6.28319rad);
          transform: translate(200px, 0px) rotate(6.28319rad);
}

body .intro {
  background-color: #201f20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: 100vw;
}

body .intro .mandalas {
  -webkit-animation: RevSpin 120s 0 linear;
          animation: RevSpin 120s 0 linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  display: -ms-grid;
  display: grid;
}

body .intro .mandalas .mandala-cont {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.mandala {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-animation: Spin 60s 0 linear;
          animation: Spin 60s 0 linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  display: -ms-grid;
  display: grid;
}

.mandala * {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.mandala * * {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.mandala .pedal {
  width: auto;
  height: auto;
}

.mandala .pedal .pedal-shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 50% 50% 0;
  background-color: #fffafc;
}

.mandala .pedal .pedal-shell .pedal-whitespace {
  background-color: #201f20;
  border-radius: 0 50% 50% 0;
}

.mandala .ring-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fffafc;
  border-radius: 50%;
}

.mandala .ring-body .ring-whitespace {
  background-color: #201f20;
  border-radius: 50%;
}

.mandala .dash .dash-body {
  border-radius: 50%;
  background-color: #fffafc;
}

@-webkit-keyframes Spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes RevSpin {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes RevSpin {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
/*# sourceMappingURL=style.css.map */