*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button, input {
  outline: none;
}

@-webkit-keyframes FadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes FadeIn {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeOut {
  100% {
    opacity: 0;
  }
}

@keyframes FadeOut {
  100% {
    opacity: 0;
  }
}

body .intro {
  height: 100vh;
  background-color: #fffafc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .intro * {
  position: absolute;
}

body .intro .pedal.pedal-shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 50px;
  border-radius: 0 50% 50% 0;
  background-color: brown;
}

body .intro .pedal.pedal-shell[class*=radius][class*=r110]:nth-of-type(1) {
  -webkit-transform: translate(95.26279px, 55px) rotate(0.5236rad);
          transform: translate(95.26279px, 55px) rotate(0.5236rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r110]:nth-of-type(2) {
  -webkit-transform: translate(55px, 95.26279px) rotate(1.0472rad);
          transform: translate(55px, 95.26279px) rotate(1.0472rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r110]:nth-of-type(3) {
  -webkit-transform: translate(0px, 110px) rotate(1.5708rad);
          transform: translate(0px, 110px) rotate(1.5708rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r110]:nth-of-type(4) {
  -webkit-transform: translate(-55.0px, 95.26279px) rotate(2.0944rad);
          transform: translate(-55.0px, 95.26279px) rotate(2.0944rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r110]:nth-of-type(5) {
  -webkit-transform: translate(-95.26279px, 55px) rotate(2.61799rad);
          transform: translate(-95.26279px, 55px) rotate(2.61799rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r110]:nth-of-type(6) {
  -webkit-transform: translate(-109.99999px, 0px) rotate(3.14159rad);
          transform: translate(-109.99999px, 0px) rotate(3.14159rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r110]:nth-of-type(7) {
  -webkit-transform: translate(-95.26265px, -55.0px) rotate(3.66519rad);
          transform: translate(-95.26265px, -55.0px) rotate(3.66519rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r110]:nth-of-type(8) {
  -webkit-transform: translate(-54.99876px, -95.26279px) rotate(4.18879rad);
          transform: translate(-54.99876px, -95.26279px) rotate(4.18879rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r110]:nth-of-type(9) {
  -webkit-transform: translate(0px, -109.99999px) rotate(4.71239rad);
          transform: translate(0px, -109.99999px) rotate(4.71239rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r110]:nth-of-type(10) {
  -webkit-transform: translate(55px, -95.26265px) rotate(5.23599rad);
          transform: translate(55px, -95.26265px) rotate(5.23599rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r110]:nth-of-type(11) {
  -webkit-transform: translate(95.26279px, -54.99876px) rotate(5.75959rad);
          transform: translate(95.26279px, -54.99876px) rotate(5.75959rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r110]:nth-of-type(12) {
  -webkit-transform: translate(110px, 0px) rotate(6.28319rad);
          transform: translate(110px, 0px) rotate(6.28319rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r200]:nth-of-type(1) {
  -webkit-transform: translate(173.20508px, 100px) rotate(0.5236rad);
          transform: translate(173.20508px, 100px) rotate(0.5236rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r200]:nth-of-type(2) {
  -webkit-transform: translate(100px, 173.20508px) rotate(1.0472rad);
          transform: translate(100px, 173.20508px) rotate(1.0472rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r200]:nth-of-type(3) {
  -webkit-transform: translate(0px, 200px) rotate(1.5708rad);
          transform: translate(0px, 200px) rotate(1.5708rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r200]:nth-of-type(4) {
  -webkit-transform: translate(-100.0px, 173.20508px) rotate(2.0944rad);
          transform: translate(-100.0px, 173.20508px) rotate(2.0944rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r200]:nth-of-type(5) {
  -webkit-transform: translate(-173.20508px, 100px) rotate(2.61799rad);
          transform: translate(-173.20508px, 100px) rotate(2.61799rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r200]:nth-of-type(6) {
  -webkit-transform: translate(-199.99998px, 0px) rotate(3.14159rad);
          transform: translate(-199.99998px, 0px) rotate(3.14159rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r200]:nth-of-type(7) {
  -webkit-transform: translate(-173.20483px, -100.0px) rotate(3.66519rad);
          transform: translate(-173.20483px, -100.0px) rotate(3.66519rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r200]:nth-of-type(8) {
  -webkit-transform: translate(-99.99774px, -173.20508px) rotate(4.18879rad);
          transform: translate(-99.99774px, -173.20508px) rotate(4.18879rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r200]:nth-of-type(9) {
  -webkit-transform: translate(0px, -199.99998px) rotate(4.71239rad);
          transform: translate(0px, -199.99998px) rotate(4.71239rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r200]:nth-of-type(10) {
  -webkit-transform: translate(100px, -173.20483px) rotate(5.23599rad);
          transform: translate(100px, -173.20483px) rotate(5.23599rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r200]:nth-of-type(11) {
  -webkit-transform: translate(173.20508px, -99.99774px) rotate(5.75959rad);
          transform: translate(173.20508px, -99.99774px) rotate(5.75959rad);
}

body .intro .pedal.pedal-shell[class*=radius][class*=r200]:nth-of-type(12) {
  -webkit-transform: translate(200px, 0px) rotate(6.28319rad);
          transform: translate(200px, 0px) rotate(6.28319rad);
}

body .intro .pedal.pedal-whitespace {
  background-color: #fffafc;
  width: 45px;
  height: 35px;
  border-radius: 0 50% 50% 0;
}
/*# sourceMappingURL=style.css.map */