*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button, input {
  outline: none;
}

@-webkit-keyframes FadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes FadeIn {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeOut {
  100% {
    opacity: 0;
  }
}

@keyframes FadeOut {
  100% {
    opacity: 0;
  }
}

.width-0px {
  width: 0px;
}

.width-1px {
  width: 1px;
}

.width-2px {
  width: 2px;
}

.width-3px {
  width: 3px;
}

.width-4px {
  width: 4px;
}

.width-5px {
  width: 5px;
}

.width-6px {
  width: 6px;
}

.width-7px {
  width: 7px;
}

.width-8px {
  width: 8px;
}

.width-9px {
  width: 9px;
}

.width-10px {
  width: 10px;
}

.width-11px {
  width: 11px;
}

.width-12px {
  width: 12px;
}

.width-13px {
  width: 13px;
}

.width-14px {
  width: 14px;
}

.width-15px {
  width: 15px;
}

.width-16px {
  width: 16px;
}

.width-17px {
  width: 17px;
}

.width-18px {
  width: 18px;
}

.width-19px {
  width: 19px;
}

.width-20px {
  width: 20px;
}

.width-21px {
  width: 21px;
}

.width-22px {
  width: 22px;
}

.width-23px {
  width: 23px;
}

.width-24px {
  width: 24px;
}

.width-25px {
  width: 25px;
}

.width-26px {
  width: 26px;
}

.width-27px {
  width: 27px;
}

.width-28px {
  width: 28px;
}

.width-29px {
  width: 29px;
}

.width-30px {
  width: 30px;
}

.width-31px {
  width: 31px;
}

.width-32px {
  width: 32px;
}

.width-33px {
  width: 33px;
}

.width-34px {
  width: 34px;
}

.width-35px {
  width: 35px;
}

.width-36px {
  width: 36px;
}

.width-37px {
  width: 37px;
}

.width-38px {
  width: 38px;
}

.width-39px {
  width: 39px;
}

.width-40px {
  width: 40px;
}

.width-41px {
  width: 41px;
}

.width-42px {
  width: 42px;
}

.width-43px {
  width: 43px;
}

.width-44px {
  width: 44px;
}

.width-45px {
  width: 45px;
}

.width-46px {
  width: 46px;
}

.width-47px {
  width: 47px;
}

.width-48px {
  width: 48px;
}

.width-49px {
  width: 49px;
}

.width-50px {
  width: 50px;
}

.width-51px {
  width: 51px;
}

.width-52px {
  width: 52px;
}

.width-53px {
  width: 53px;
}

.width-54px {
  width: 54px;
}

.width-55px {
  width: 55px;
}

.width-56px {
  width: 56px;
}

.width-57px {
  width: 57px;
}

.width-58px {
  width: 58px;
}

.width-59px {
  width: 59px;
}

.width-60px {
  width: 60px;
}

.width-61px {
  width: 61px;
}

.width-62px {
  width: 62px;
}

.width-63px {
  width: 63px;
}

.width-64px {
  width: 64px;
}

.width-65px {
  width: 65px;
}

.width-66px {
  width: 66px;
}

.width-67px {
  width: 67px;
}

.width-68px {
  width: 68px;
}

.width-69px {
  width: 69px;
}

.width-70px {
  width: 70px;
}

.width-71px {
  width: 71px;
}

.width-72px {
  width: 72px;
}

.width-73px {
  width: 73px;
}

.width-74px {
  width: 74px;
}

.width-75px {
  width: 75px;
}

.width-76px {
  width: 76px;
}

.width-77px {
  width: 77px;
}

.width-78px {
  width: 78px;
}

.width-79px {
  width: 79px;
}

.width-80px {
  width: 80px;
}

.width-81px {
  width: 81px;
}

.width-82px {
  width: 82px;
}

.width-83px {
  width: 83px;
}

.width-84px {
  width: 84px;
}

.width-85px {
  width: 85px;
}

.width-86px {
  width: 86px;
}

.width-87px {
  width: 87px;
}

.width-88px {
  width: 88px;
}

.width-89px {
  width: 89px;
}

.width-90px {
  width: 90px;
}

.width-91px {
  width: 91px;
}

.width-92px {
  width: 92px;
}

.width-93px {
  width: 93px;
}

.width-94px {
  width: 94px;
}

.width-95px {
  width: 95px;
}

.width-96px {
  width: 96px;
}

.width-97px {
  width: 97px;
}

.width-98px {
  width: 98px;
}

.width-99px {
  width: 99px;
}

.width-100px {
  width: 100px;
}

.width-101px {
  width: 101px;
}

.width-102px {
  width: 102px;
}

.width-103px {
  width: 103px;
}

.width-104px {
  width: 104px;
}

.width-105px {
  width: 105px;
}

.width-106px {
  width: 106px;
}

.width-107px {
  width: 107px;
}

.width-108px {
  width: 108px;
}

.width-109px {
  width: 109px;
}

.width-110px {
  width: 110px;
}

.width-111px {
  width: 111px;
}

.width-112px {
  width: 112px;
}

.width-113px {
  width: 113px;
}

.width-114px {
  width: 114px;
}

.width-115px {
  width: 115px;
}

.width-116px {
  width: 116px;
}

.width-117px {
  width: 117px;
}

.width-118px {
  width: 118px;
}

.width-119px {
  width: 119px;
}

.width-120px {
  width: 120px;
}

.width-121px {
  width: 121px;
}

.width-122px {
  width: 122px;
}

.width-123px {
  width: 123px;
}

.width-124px {
  width: 124px;
}

.width-125px {
  width: 125px;
}

.width-126px {
  width: 126px;
}

.width-127px {
  width: 127px;
}

.width-128px {
  width: 128px;
}

.width-129px {
  width: 129px;
}

.width-130px {
  width: 130px;
}

.width-131px {
  width: 131px;
}

.width-132px {
  width: 132px;
}

.width-133px {
  width: 133px;
}

.width-134px {
  width: 134px;
}

.width-135px {
  width: 135px;
}

.width-136px {
  width: 136px;
}

.width-137px {
  width: 137px;
}

.width-138px {
  width: 138px;
}

.width-139px {
  width: 139px;
}

.width-140px {
  width: 140px;
}

.width-141px {
  width: 141px;
}

.width-142px {
  width: 142px;
}

.width-143px {
  width: 143px;
}

.width-144px {
  width: 144px;
}

.width-145px {
  width: 145px;
}

.width-146px {
  width: 146px;
}

.width-147px {
  width: 147px;
}

.width-148px {
  width: 148px;
}

.width-149px {
  width: 149px;
}

.width-150px {
  width: 150px;
}

.width-151px {
  width: 151px;
}

.width-152px {
  width: 152px;
}

.width-153px {
  width: 153px;
}

.width-154px {
  width: 154px;
}

.width-155px {
  width: 155px;
}

.width-156px {
  width: 156px;
}

.width-157px {
  width: 157px;
}

.width-158px {
  width: 158px;
}

.width-159px {
  width: 159px;
}

.width-160px {
  width: 160px;
}

.width-161px {
  width: 161px;
}

.width-162px {
  width: 162px;
}

.width-163px {
  width: 163px;
}

.width-164px {
  width: 164px;
}

.width-165px {
  width: 165px;
}

.width-166px {
  width: 166px;
}

.width-167px {
  width: 167px;
}

.width-168px {
  width: 168px;
}

.width-169px {
  width: 169px;
}

.width-170px {
  width: 170px;
}

.width-171px {
  width: 171px;
}

.width-172px {
  width: 172px;
}

.width-173px {
  width: 173px;
}

.width-174px {
  width: 174px;
}

.width-175px {
  width: 175px;
}

.width-176px {
  width: 176px;
}

.width-177px {
  width: 177px;
}

.width-178px {
  width: 178px;
}

.width-179px {
  width: 179px;
}

.width-180px {
  width: 180px;
}

.width-181px {
  width: 181px;
}

.width-182px {
  width: 182px;
}

.width-183px {
  width: 183px;
}

.width-184px {
  width: 184px;
}

.width-185px {
  width: 185px;
}

.width-186px {
  width: 186px;
}

.width-187px {
  width: 187px;
}

.width-188px {
  width: 188px;
}

.width-189px {
  width: 189px;
}

.width-190px {
  width: 190px;
}

.width-191px {
  width: 191px;
}

.width-192px {
  width: 192px;
}

.width-193px {
  width: 193px;
}

.width-194px {
  width: 194px;
}

.width-195px {
  width: 195px;
}

.width-196px {
  width: 196px;
}

.width-197px {
  width: 197px;
}

.width-198px {
  width: 198px;
}

.width-199px {
  width: 199px;
}

.width-200px {
  width: 200px;
}

.height-0px {
  height: 0px;
}

.height-1px {
  height: 1px;
}

.height-2px {
  height: 2px;
}

.height-3px {
  height: 3px;
}

.height-4px {
  height: 4px;
}

.height-5px {
  height: 5px;
}

.height-6px {
  height: 6px;
}

.height-7px {
  height: 7px;
}

.height-8px {
  height: 8px;
}

.height-9px {
  height: 9px;
}

.height-10px {
  height: 10px;
}

.height-11px {
  height: 11px;
}

.height-12px {
  height: 12px;
}

.height-13px {
  height: 13px;
}

.height-14px {
  height: 14px;
}

.height-15px {
  height: 15px;
}

.height-16px {
  height: 16px;
}

.height-17px {
  height: 17px;
}

.height-18px {
  height: 18px;
}

.height-19px {
  height: 19px;
}

.height-20px {
  height: 20px;
}

.height-21px {
  height: 21px;
}

.height-22px {
  height: 22px;
}

.height-23px {
  height: 23px;
}

.height-24px {
  height: 24px;
}

.height-25px {
  height: 25px;
}

.height-26px {
  height: 26px;
}

.height-27px {
  height: 27px;
}

.height-28px {
  height: 28px;
}

.height-29px {
  height: 29px;
}

.height-30px {
  height: 30px;
}

.height-31px {
  height: 31px;
}

.height-32px {
  height: 32px;
}

.height-33px {
  height: 33px;
}

.height-34px {
  height: 34px;
}

.height-35px {
  height: 35px;
}

.height-36px {
  height: 36px;
}

.height-37px {
  height: 37px;
}

.height-38px {
  height: 38px;
}

.height-39px {
  height: 39px;
}

.height-40px {
  height: 40px;
}

.height-41px {
  height: 41px;
}

.height-42px {
  height: 42px;
}

.height-43px {
  height: 43px;
}

.height-44px {
  height: 44px;
}

.height-45px {
  height: 45px;
}

.height-46px {
  height: 46px;
}

.height-47px {
  height: 47px;
}

.height-48px {
  height: 48px;
}

.height-49px {
  height: 49px;
}

.height-50px {
  height: 50px;
}

.height-51px {
  height: 51px;
}

.height-52px {
  height: 52px;
}

.height-53px {
  height: 53px;
}

.height-54px {
  height: 54px;
}

.height-55px {
  height: 55px;
}

.height-56px {
  height: 56px;
}

.height-57px {
  height: 57px;
}

.height-58px {
  height: 58px;
}

.height-59px {
  height: 59px;
}

.height-60px {
  height: 60px;
}

.height-61px {
  height: 61px;
}

.height-62px {
  height: 62px;
}

.height-63px {
  height: 63px;
}

.height-64px {
  height: 64px;
}

.height-65px {
  height: 65px;
}

.height-66px {
  height: 66px;
}

.height-67px {
  height: 67px;
}

.height-68px {
  height: 68px;
}

.height-69px {
  height: 69px;
}

.height-70px {
  height: 70px;
}

.height-71px {
  height: 71px;
}

.height-72px {
  height: 72px;
}

.height-73px {
  height: 73px;
}

.height-74px {
  height: 74px;
}

.height-75px {
  height: 75px;
}

.height-76px {
  height: 76px;
}

.height-77px {
  height: 77px;
}

.height-78px {
  height: 78px;
}

.height-79px {
  height: 79px;
}

.height-80px {
  height: 80px;
}

.height-81px {
  height: 81px;
}

.height-82px {
  height: 82px;
}

.height-83px {
  height: 83px;
}

.height-84px {
  height: 84px;
}

.height-85px {
  height: 85px;
}

.height-86px {
  height: 86px;
}

.height-87px {
  height: 87px;
}

.height-88px {
  height: 88px;
}

.height-89px {
  height: 89px;
}

.height-90px {
  height: 90px;
}

.height-91px {
  height: 91px;
}

.height-92px {
  height: 92px;
}

.height-93px {
  height: 93px;
}

.height-94px {
  height: 94px;
}

.height-95px {
  height: 95px;
}

.height-96px {
  height: 96px;
}

.height-97px {
  height: 97px;
}

.height-98px {
  height: 98px;
}

.height-99px {
  height: 99px;
}

.height-100px {
  height: 100px;
}

.height-101px {
  height: 101px;
}

.height-102px {
  height: 102px;
}

.height-103px {
  height: 103px;
}

.height-104px {
  height: 104px;
}

.height-105px {
  height: 105px;
}

.height-106px {
  height: 106px;
}

.height-107px {
  height: 107px;
}

.height-108px {
  height: 108px;
}

.height-109px {
  height: 109px;
}

.height-110px {
  height: 110px;
}

.height-111px {
  height: 111px;
}

.height-112px {
  height: 112px;
}

.height-113px {
  height: 113px;
}

.height-114px {
  height: 114px;
}

.height-115px {
  height: 115px;
}

.height-116px {
  height: 116px;
}

.height-117px {
  height: 117px;
}

.height-118px {
  height: 118px;
}

.height-119px {
  height: 119px;
}

.height-120px {
  height: 120px;
}

.height-121px {
  height: 121px;
}

.height-122px {
  height: 122px;
}

.height-123px {
  height: 123px;
}

.height-124px {
  height: 124px;
}

.height-125px {
  height: 125px;
}

.height-126px {
  height: 126px;
}

.height-127px {
  height: 127px;
}

.height-128px {
  height: 128px;
}

.height-129px {
  height: 129px;
}

.height-130px {
  height: 130px;
}

.height-131px {
  height: 131px;
}

.height-132px {
  height: 132px;
}

.height-133px {
  height: 133px;
}

.height-134px {
  height: 134px;
}

.height-135px {
  height: 135px;
}

.height-136px {
  height: 136px;
}

.height-137px {
  height: 137px;
}

.height-138px {
  height: 138px;
}

.height-139px {
  height: 139px;
}

.height-140px {
  height: 140px;
}

.height-141px {
  height: 141px;
}

.height-142px {
  height: 142px;
}

.height-143px {
  height: 143px;
}

.height-144px {
  height: 144px;
}

.height-145px {
  height: 145px;
}

.height-146px {
  height: 146px;
}

.height-147px {
  height: 147px;
}

.height-148px {
  height: 148px;
}

.height-149px {
  height: 149px;
}

.height-150px {
  height: 150px;
}

.height-151px {
  height: 151px;
}

.height-152px {
  height: 152px;
}

.height-153px {
  height: 153px;
}

.height-154px {
  height: 154px;
}

.height-155px {
  height: 155px;
}

.height-156px {
  height: 156px;
}

.height-157px {
  height: 157px;
}

.height-158px {
  height: 158px;
}

.height-159px {
  height: 159px;
}

.height-160px {
  height: 160px;
}

.height-161px {
  height: 161px;
}

.height-162px {
  height: 162px;
}

.height-163px {
  height: 163px;
}

.height-164px {
  height: 164px;
}

.height-165px {
  height: 165px;
}

.height-166px {
  height: 166px;
}

.height-167px {
  height: 167px;
}

.height-168px {
  height: 168px;
}

.height-169px {
  height: 169px;
}

.height-170px {
  height: 170px;
}

.height-171px {
  height: 171px;
}

.height-172px {
  height: 172px;
}

.height-173px {
  height: 173px;
}

.height-174px {
  height: 174px;
}

.height-175px {
  height: 175px;
}

.height-176px {
  height: 176px;
}

.height-177px {
  height: 177px;
}

.height-178px {
  height: 178px;
}

.height-179px {
  height: 179px;
}

.height-180px {
  height: 180px;
}

.height-181px {
  height: 181px;
}

.height-182px {
  height: 182px;
}

.height-183px {
  height: 183px;
}

.height-184px {
  height: 184px;
}

.height-185px {
  height: 185px;
}

.height-186px {
  height: 186px;
}

.height-187px {
  height: 187px;
}

.height-188px {
  height: 188px;
}

.height-189px {
  height: 189px;
}

.height-190px {
  height: 190px;
}

.height-191px {
  height: 191px;
}

.height-192px {
  height: 192px;
}

.height-193px {
  height: 193px;
}

.height-194px {
  height: 194px;
}

.height-195px {
  height: 195px;
}

.height-196px {
  height: 196px;
}

.height-197px {
  height: 197px;
}

.height-198px {
  height: 198px;
}

.height-199px {
  height: 199px;
}

.height-200px {
  height: 200px;
}

.pedals1 .pedal-shell:nth-child(1) {
  -webkit-transform: translate(25.98076px, 15px) rotate(0.5236rad);
          transform: translate(25.98076px, 15px) rotate(0.5236rad);
}

.pedals1 .pedal-shell:nth-child(2) {
  -webkit-transform: translate(15px, 25.98076px) rotate(1.0472rad);
          transform: translate(15px, 25.98076px) rotate(1.0472rad);
}

.pedals1 .pedal-shell:nth-child(3) {
  -webkit-transform: translate(0px, 30px) rotate(1.5708rad);
          transform: translate(0px, 30px) rotate(1.5708rad);
}

.pedals1 .pedal-shell:nth-child(4) {
  -webkit-transform: translate(-15.0px, 25.98076px) rotate(2.0944rad);
          transform: translate(-15.0px, 25.98076px) rotate(2.0944rad);
}

.pedals1 .pedal-shell:nth-child(5) {
  -webkit-transform: translate(-25.98076px, 15px) rotate(2.61799rad);
          transform: translate(-25.98076px, 15px) rotate(2.61799rad);
}

.pedals1 .pedal-shell:nth-child(6) {
  -webkit-transform: translate(-30.0px, 0px) rotate(3.14159rad);
          transform: translate(-30.0px, 0px) rotate(3.14159rad);
}

.pedals1 .pedal-shell:nth-child(7) {
  -webkit-transform: translate(-25.98072px, -15.0px) rotate(3.66519rad);
          transform: translate(-25.98072px, -15.0px) rotate(3.66519rad);
}

.pedals1 .pedal-shell:nth-child(8) {
  -webkit-transform: translate(-14.99966px, -25.98076px) rotate(4.18879rad);
          transform: translate(-14.99966px, -25.98076px) rotate(4.18879rad);
}

.pedals1 .pedal-shell:nth-child(9) {
  -webkit-transform: translate(0px, -30.0px) rotate(4.71239rad);
          transform: translate(0px, -30.0px) rotate(4.71239rad);
}

.pedals1 .pedal-shell:nth-child(10) {
  -webkit-transform: translate(15px, -25.98072px) rotate(5.23599rad);
          transform: translate(15px, -25.98072px) rotate(5.23599rad);
}

.pedals1 .pedal-shell:nth-child(11) {
  -webkit-transform: translate(25.98076px, -14.99966px) rotate(5.75959rad);
          transform: translate(25.98076px, -14.99966px) rotate(5.75959rad);
}

.pedals1 .pedal-shell:nth-child(12) {
  -webkit-transform: translate(30px, 0px) rotate(6.28319rad);
          transform: translate(30px, 0px) rotate(6.28319rad);
}

.pedals2 .pedal-shell:nth-child(1) {
  -webkit-transform: translate(28.28427px, 28.28427px) rotate(0.7854rad);
          transform: translate(28.28427px, 28.28427px) rotate(0.7854rad);
}

.pedals2 .pedal-shell:nth-child(2) {
  -webkit-transform: translate(10.35276px, 38.63703px) rotate(1.309rad);
          transform: translate(10.35276px, 38.63703px) rotate(1.309rad);
}

.pedals2 .pedal-shell:nth-child(3) {
  -webkit-transform: translate(-10.35276px, 38.63703px) rotate(1.8326rad);
          transform: translate(-10.35276px, 38.63703px) rotate(1.8326rad);
}

.pedals2 .pedal-shell:nth-child(4) {
  -webkit-transform: translate(-28.28427px, 28.28427px) rotate(2.35619rad);
          transform: translate(-28.28427px, 28.28427px) rotate(2.35619rad);
}

.pedals2 .pedal-shell:nth-child(5) {
  -webkit-transform: translate(-38.63703px, 10.35276px) rotate(2.87979rad);
          transform: translate(-38.63703px, 10.35276px) rotate(2.87979rad);
}

.pedals2 .pedal-shell:nth-child(6) {
  -webkit-transform: translate(-38.63702px, -10.35276px) rotate(3.40339rad);
          transform: translate(-38.63702px, -10.35276px) rotate(3.40339rad);
}

.pedals2 .pedal-shell:nth-child(7) {
  -webkit-transform: translate(-28.28412px, -28.28427px) rotate(3.92699rad);
          transform: translate(-28.28412px, -28.28427px) rotate(3.92699rad);
}

.pedals2 .pedal-shell:nth-child(8) {
  -webkit-transform: translate(-10.35151px, -38.63703px) rotate(4.45059rad);
          transform: translate(-10.35151px, -38.63703px) rotate(4.45059rad);
}

.pedals2 .pedal-shell:nth-child(9) {
  -webkit-transform: translate(10.35276px, -38.63702px) rotate(4.97419rad);
          transform: translate(10.35276px, -38.63702px) rotate(4.97419rad);
}

.pedals2 .pedal-shell:nth-child(10) {
  -webkit-transform: translate(28.28427px, -28.28412px) rotate(5.49779rad);
          transform: translate(28.28427px, -28.28412px) rotate(5.49779rad);
}

.pedals2 .pedal-shell:nth-child(11) {
  -webkit-transform: translate(38.63703px, -10.35151px) rotate(6.02139rad);
          transform: translate(38.63703px, -10.35151px) rotate(6.02139rad);
}

.pedals2 .pedal-shell:nth-child(12) {
  -webkit-transform: translate(38.63703px, 10.35276px) rotate(6.54498rad);
          transform: translate(38.63703px, 10.35276px) rotate(6.54498rad);
}

.pedals3 .pedal-shell:nth-child(1) {
  -webkit-transform: translate(12.94095px, 48.29629px) rotate(1.309rad);
          transform: translate(12.94095px, 48.29629px) rotate(1.309rad);
}

.pedals3 .pedal-shell:nth-child(2) {
  -webkit-transform: translate(-35.35534px, 35.35534px) rotate(2.35619rad);
          transform: translate(-35.35534px, 35.35534px) rotate(2.35619rad);
}

.pedals3 .pedal-shell:nth-child(3) {
  -webkit-transform: translate(-48.29627px, -12.94095px) rotate(3.40339rad);
          transform: translate(-48.29627px, -12.94095px) rotate(3.40339rad);
}

.pedals3 .pedal-shell:nth-child(4) {
  -webkit-transform: translate(-12.93939px, -48.29629px) rotate(4.45059rad);
          transform: translate(-12.93939px, -48.29629px) rotate(4.45059rad);
}

.pedals3 .pedal-shell:nth-child(5) {
  -webkit-transform: translate(35.35534px, -35.35514px) rotate(5.49779rad);
          transform: translate(35.35534px, -35.35514px) rotate(5.49779rad);
}

.pedals3 .pedal-shell:nth-child(6) {
  -webkit-transform: translate(48.29629px, 12.94095px) rotate(6.54498rad);
          transform: translate(48.29629px, 12.94095px) rotate(6.54498rad);
}

.dots1 .ring-body:nth-child(1) {
  -webkit-transform: translate(15.52914px, 57.95555px) rotate(1.309rad);
          transform: translate(15.52914px, 57.95555px) rotate(1.309rad);
}

.dots1 .ring-body:nth-child(2) {
  -webkit-transform: translate(-42.42641px, 42.42641px) rotate(2.35619rad);
          transform: translate(-42.42641px, 42.42641px) rotate(2.35619rad);
}

.dots1 .ring-body:nth-child(3) {
  -webkit-transform: translate(-57.95553px, -15.52914px) rotate(3.40339rad);
          transform: translate(-57.95553px, -15.52914px) rotate(3.40339rad);
}

.dots1 .ring-body:nth-child(4) {
  -webkit-transform: translate(-15.52727px, -57.95555px) rotate(4.45059rad);
          transform: translate(-15.52727px, -57.95555px) rotate(4.45059rad);
}

.dots1 .ring-body:nth-child(5) {
  -webkit-transform: translate(42.42641px, -42.42617px) rotate(5.49779rad);
          transform: translate(42.42641px, -42.42617px) rotate(5.49779rad);
}

.dots1 .ring-body:nth-child(6) {
  -webkit-transform: translate(57.95555px, 15.52914px) rotate(6.54498rad);
          transform: translate(57.95555px, 15.52914px) rotate(6.54498rad);
}

body .intro {
  height: 100vh;
  background-color: #fffafc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
}

.mandala {
  -webkit-transform: scale(3);
          transform: scale(3);
  -webkit-animation: Spin 15s 0 linear;
          animation: Spin 15s 0 linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  display: -ms-grid;
  display: grid;
}

.mandala * {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.mandala * * {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.mandala .pedal {
  width: auto;
  height: auto;
}

.mandala .pedal .pedal-shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 50% 50% 0;
  background-color: brown;
}

.mandala .pedal .pedal-shell .pedal-whitespace {
  background-color: #fffafc;
  border-radius: 0 50% 50% 0;
}

.mandala .ring-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: brown;
  border-radius: 50%;
}

.mandala .ring-body .ring-whitespace {
  background-color: #fffafc;
  border-radius: 50%;
}

@-webkit-keyframes Spin {
  to {
    -webkit-transform: scale(3) rotate(360deg);
            transform: scale(3) rotate(360deg);
  }
}

@keyframes Spin {
  to {
    -webkit-transform: scale(3) rotate(360deg);
            transform: scale(3) rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */