*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input {
    outline: none;
}

@mixin FlexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin GridOver() {
    display: grid;
    * {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

@mixin WidthHeight($width, $height) {
    width: $width;
    height: $height;
}

@keyframes fade-in {
    0% {
        visibility: visible;
    }
    99%,
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    99% {
        opacity: 0;
    }
    100% {
        visibility: hidden;
    }
}
