@import "partials/_common.scss";
@import "partials/_trig.sass";

// Variables

$title-font: "Raleway", sans-serif;

$palette: (
    "bg": #201f20,
    "line": #fffafc,
    "pink": #ef476f,
    "yellow": #ffd166,
    "green": #06d6a0,
    "blue": #118ab2,
    "navy": #073b4c,
);

$amts: (
    pedals1: (
        parent: ".pedals1",
        target: ".pedal-shell",
        number: 12,
        offset: 0,
        distance: 16,
    ),
    pedals2: (
        parent: ".pedals2",
        target: ".pedal-shell",
        number: 6,
        offset: $PI / 6,
        distance: 20,
    ),
    pedals3: (
        parent: ".pedals3",
        target: ".pedal-shell",
        number: 6,
        offset: 0,
        distance: 20,
    ),
    pedals4: (
        parent: ".pedals4",
        target: ".pedal-shell",
        number: 12,
        offset: $PI / 12,
        distance: 40,
    ),
    pedals5: (
        parent: ".pedals5",
        target: ".pedal-shell",
        number: 12,
        offset: 0,
        distance: 60,
    ),
    pedals6: (
        parent: ".pedals6",
        target: ".pedal-shell",
        number: 12,
        offset: $PI / 12,
        distance: 60,
    ),
    pedals7: (
        parent: ".pedals7",
        target: ".pedal-shell",
        number: 24,
        offset: $PI / 24,
        distance: 85,
    ),
    pedals8: (
        parent: ".pedals8",
        target: ".pedal-shell",
        number: 8,
        offset: 0,
        distance: 100,
    ),
    dashes1: (
        parent: ".dashes1",
        target: ".dash-body",
        number: 12,
        offset: $PI / 12,
        distance: 41,
    ),
    dashes2: (
        parent: ".dashes2",
        target: ".dash-body",
        number: 12,
        offset: 0,
        distance: 47,
    ),
    dashes3: (
        parent: ".dashes3",
        target: ".dash-body",
        number: 24,
        offset: 0,
        distance: 85,
    ),
    dots1: (
        parent: ".dots1",
        target: ".ring-body",
        number: 12,
        offset: 0,
        distance: 65,
    ),
);

@function FromTo($from, $to) {
    $onoff: true;
    $list: ();
    $i: $from;
    @while $i <= $to {
        $list: append($list, "#{$i}px");
        @if $onoff {
            $onoff: false;
            $i: $i + 2;
        } @else {
            $onoff: true;
            $i: $i + 3;
        }
    }
    @return $list;
}

@mixin CircleDivs($parent, $target, $amt, $turn, $offset, $dist) {
    @for $i from 1 through $amt {
        #{$parent} #{$target}:nth-child(#{$i}) {
            transform: translate(
                    #{cos($i * $turn + $offset) * $dist}px,
                    #{sin($i * $turn + $offset) * $dist}px
                )
                rotate(#{$i * $turn + $offset}rad);
        }
    }
}

@mixin AddClasses($map) {
    @each $key, $prop in $map {
        @if nth($prop, 1) == "noncustom" {
            @each $item in nth($prop, 2) {
                .#{$key}-#{$item} {
                    #{$key}: #{$item};
                }
            }
        } @else {
            @if $key == "radius" {
                @each $_, $item in nth($prop, 2) {
                    @include CircleDivs(
                        map-get($item, "parent"),
                        map-get($item, "target"),
                        map-get($item, "number"),
                        $TWO_PI / map-get($item, "number"),
                        map-get($item, "offset"),
                        map-get($item, "distance")
                    );
                }
            }
        }
    }
}

@include AddClasses(
    (
        width: (
            "noncustom",
            FromTo(0, 200),
        ),
        height: (
            "noncustom",
            FromTo(0, 200),
        ),
        radius: (
            "custom",
            $amts,
        ),
    )
);

// Styles

body {
    .intro {
        background-color: map-get($palette, "bg");
        @include GridOver;
        height: 100vh;
        width: 100vw;
    }
    .mandala:nth-of-type(1) {
        align-self: flex-end;
        justify-self: flex-end;
    }
}

.mandala {
    width: fit-content;
    height: fit-content;
    animation: Spin 60s 0 linear;
    animation-iteration-count: infinite;
    @include GridOver;
    * {
        position: relative;
        justify-self: center;
        align-self: center;
        @include GridOver;
    }
    .pedal {
        width: auto;
        height: auto;
        .pedal-shell {
            display: flex;
            align-items: center;
            border-radius: 0 50% 50% 0;
            background-color: map-get($palette, "line");
            .pedal-whitespace {
                background-color: map-get($palette, "bg");
                border-radius: 0 50% 50% 0;
            }
        }
    }
    .ring-body {
        @include FlexCenter(row);
        background-color: map-get($palette, "line");
        border-radius: 50%;
        .ring-whitespace {
            background-color: map-get($palette, "bg");
            border-radius: 50%;
        }
    }
    .dash {
        .dash-body {
            border-radius: 50%;
            background-color: map-get($palette, "line");
        }
    }
}

@keyframes Spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes RevSpin {
    to {
        transform: rotate(-360deg);
    }
}
