@import "partials/_common.sass"
@import "partials/_trig.sass"

// Variables

$palette: ("black": #201f20, "white": #fffafc, "pink": #EF476F, "yellow": #FFD166, "green": #06D6A0, "blue": #118AB2, "navy": #073B4C)
$font-stack: 'Raleway', sans-serif

$inner-pedals: 12

// Styles

@mixin CircleDivs($dist, $turn)
    @for $amt from 1 through $inner-pedals
        &:nth-of-type(#{$amt})
            transform: translate(#{cos($amt * $turn) * $dist}px, #{sin($amt * $turn) * $dist}px) rotate(#{$amt * $turn}rad)

@mixin SelectRadius($numOfElements)
    $turn: ($TWO_PI / $numOfElements)
    &[class*=radius]
        &[class*=r110]
            @include CircleDivs(110, $turn)
        &[class*=r200]
            @include CircleDivs(200, $turn)

body
    .intro
        height: 100vh
        background-color: map-get($palette, "white")
        @include FlexCenter (row)
        *
            position: absolute
        .pedal
            &.pedal-shell
                display: flex
                align-items: center
                width: 55px
                height: 50px
                border-radius: 0 50% 50% 0
                background-color: brown

                @include SelectRadius($inner-pedals)

            &.pedal-whitespace
                background-color: map-get($palette, "white")
                width: 45px
                height: 35px
                border-radius: 0 50% 50% 0
