@import "partials/_common.scss";
@import "partials/_trig.sass";

// ██╗░░░██╗░█████╗░██████╗░██╗░█████╗░██████╗░██╗░░░░░███████╗░██████╗
// ██║░░░██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║░░░░░██╔════╝██╔════╝
// ╚██╗░██╔╝███████║██████╔╝██║███████║██████╦╝██║░░░░░█████╗░░╚█████╗░
// ░╚████╔╝░██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║░░░░░██╔══╝░░░╚═══██╗
// ░░╚██╔╝░░██║░░██║██║░░██║██║██║░░██║██████╦╝███████╗███████╗██████╔╝
// ░░░╚═╝░░░╚═╝░░╚═╝╚═╝░░╚═╝╚═╝╚═╝░░╚═╝╚═════╝░╚══════╝╚══════╝╚═════╝░

$title-font: "Poiret One", cursive;
$subtitle-font: "Raleway", sans-serif;

$palette: (
    "bg": #201f20,
    "line": #ebebeb,
    // possible alt #fffafc
    "shadow": #1e2022,
    "pink": #ef476f,
    "yellow": #ffd166,
    "hl": #06d6a0,
    "blue": #118ab2,
    "navy": #073b4c,
);

$mandala-sizes: (1, 3);

$rad: (
    pedals1: (
        parent: ".pedals1",
        target: ".pedal-shell",
        number: 12,
        offset: 0,
        distance: 16,
    ),
    pedals2: (
        parent: ".pedals2",
        target: ".pedal-shell",
        number: 6,
        offset: $PI / 6,
        distance: 20,
    ),
    pedals3: (
        parent: ".pedals3",
        target: ".pedal-shell",
        number: 6,
        offset: 0,
        distance: 20,
    ),
    pedals4: (
        parent: ".pedals4",
        target: ".pedal-shell",
        number: 12,
        offset: $PI / 12,
        distance: 40,
    ),
    pedals5: (
        parent: ".pedals5",
        target: ".pedal-shell",
        number: 12,
        offset: 0,
        distance: 60,
    ),
    pedals6: (
        parent: ".pedals6",
        target: ".pedal-shell",
        number: 12,
        offset: $PI / 12,
        distance: 60,
    ),
    pedals7: (
        parent: ".pedals7",
        target: ".pedal-shell",
        number: 24,
        offset: $PI / 24,
        distance: 85,
    ),
    pedals8: (
        parent: ".pedals8",
        target: ".pedal-shell",
        number: 24,
        offset: 0,
        distance: 57.5,
    ),
    pedals9: (
        parent: ".pedals9",
        target: ".pedal-shell",
        number: 12,
        offset: $PI / 12,
        distance: 60,
    ),
    dashes1: (
        parent: ".dashes1",
        target: ".dash-body",
        number: 12,
        offset: $PI / 12,
        distance: 41,
    ),
    dashes2: (
        parent: ".dashes2",
        target: ".dash-body",
        number: 12,
        offset: 0,
        distance: 47,
    ),
    dashes3: (
        parent: ".dashes3",
        target: ".dash-body",
        number: 24,
        offset: 0,
        distance: 85,
    ),
    dashes4: (
        parent: ".dashes4",
        target: ".dash-body",
        number: 24,
        offset: $PI / 24,
        distance: 57.5,
    ),
    dots1: (
        parent: ".dots1",
        target: ".ring-body",
        number: 12,
        offset: 0,
        distance: 65,
    ),
    dots2: (
        parent: ".dots2",
        target: ".ring-body",
        number: 12,
        offset: $PI / 12,
        distance: 65,
    ),
    dots3: (
        parent: ".dots3",
        target: ".dot-cont",
        number: 12,
        offset: 0,
        distance: 65,
    ),
    dots4: (
        parent: ".dots4",
        target: ".ring-body",
        number: 12,
        offset: -$PI / 3,
        distance: 7.5,
    ),
    nav: (
        parent: ".label-cont",
        target: "label",
        number: 24,
        offset: $PI / 2 * 3 - $PI / 24 * 1.5,
        distance: 312.5,
    ),
);

// ███████╗██╗░░░██╗███╗░░██╗░█████╗░████████╗██╗░█████╗░███╗░░██╗░██████╗
// ██╔════╝██║░░░██║████╗░██║██╔══██╗╚══██╔══╝██║██╔══██╗████╗░██║██╔════╝
// █████╗░░██║░░░██║██╔██╗██║██║░░╚═╝░░░██║░░░██║██║░░██║██╔██╗██║╚█████╗░
// ██╔══╝░░██║░░░██║██║╚████║██║░░██╗░░░██║░░░██║██║░░██║██║╚████║░╚═══██╗
// ██║░░░░░╚██████╔╝██║░╚███║╚█████╔╝░░░██║░░░██║╚█████╔╝██║░╚███║██████╔╝
// ╚═╝░░░░░░╚═════╝░╚═╝░░╚══╝░╚════╝░░░░╚═╝░░░╚═╝░╚════╝░╚═╝░░╚══╝╚═════╝░

@function FromTo($from, $to) {
    $onoff: true;
    $list: ();
    $i: $from;
    @while $i <= $to {
        $list: append($list, "#{$i}px");
        @if $onoff {
            $onoff: false;
            $i: $i + 2;
        } @else {
            $onoff: true;
            $i: $i + 3;
        }
    }
    $onoff: true;
    @return $list;
}

// ███╗░░░███╗░█████╗░██╗███╗░░██╗    ███╗░░░███╗██╗██╗░░██╗██╗███╗░░██╗░██████╗
// ████╗░████║██╔══██╗██║████╗░██║    ████╗░████║██║╚██╗██╔╝██║████╗░██║██╔════╝
// ██╔████╔██║███████║██║██╔██╗██║    ██╔████╔██║██║░╚███╔╝░██║██╔██╗██║╚█████╗░
// ██║╚██╔╝██║██╔══██║██║██║╚████║    ██║╚██╔╝██║██║░██╔██╗░██║██║╚████║░╚═══██╗
// ██║░╚═╝░██║██║░░██║██║██║░╚███║    ██║░╚═╝░██║██║██╔╝╚██╗██║██║░╚███║██████╔╝
// ╚═╝░░░░░╚═╝╚═╝░░╚═╝╚═╝╚═╝░░╚══╝    ╚═╝░░░░░╚═╝╚═╝╚═╝░░╚═╝╚═╝╚═╝░░╚══╝╚═════╝░

@mixin CircleDivs($parent, $target, $amt, $turn, $offset, $dist) {
    @for $i from 1 through $amt {
        #{$parent} #{$target}:nth-child(#{$i}) {
            transform: translate(
                    #{cos($i * $turn + $offset) * $dist}px,
                    #{sin($i * $turn + $offset) * $dist}px
                )
                rotate(#{$i * $turn + $offset}rad);
        }
    }
}

@mixin StraightDivs($parent, $target, $amt, $move, $offset, $dist) {
    @for $i from 0 to $amt {
        #{$parent} #{$target}:nth-child(#{$i + 1}) {
            transform: translate(#{$i * $move + $offset}, #{$dist}px);
        }
    }
}

@mixin AddClasses($map) {
    @each $key, $prop in $map {
        @if nth($prop, 1) == "noncustom" {
            @each $item in nth($prop, 2) {
                .#{$key}-#{$item} {
                    #{$key}: #{$item};
                }
            }
        } @else {
            @if $key == "radius" {
                @each $_, $item in nth($prop, 2) {
                    @include CircleDivs(
                        map-get($item, "parent"),
                        map-get($item, "target"),
                        map-get($item, "number"),
                        $TWO_PI / map-get($item, "number"),
                        map-get($item, "offset"),
                        map-get($item, "distance")
                    );
                }
            }
        }
    }
}

@mixin SpinKeyframe($scale, $direc) {
    $angle: 0;
    @if $direc == "clockwise" {
        $angle: 360deg;
    } @else {
        $angle: -360deg;
    }
    @keyframes Spin-#{$direc}-#{$scale} {
        to {
            transform: scale($scale) rotate($angle);
        }
    }
}

// ░██████╗████████╗██╗░░░██╗██╗░░░░░███████╗░██████╗
// ██╔════╝╚══██╔══╝╚██╗░██╔╝██║░░░░░██╔════╝██╔════╝
// ╚█████╗░░░░██║░░░░╚████╔╝░██║░░░░░█████╗░░╚█████╗░
// ░╚═══██╗░░░██║░░░░░╚██╔╝░░██║░░░░░██╔══╝░░░╚═══██╗
// ██████╔╝░░░██║░░░░░░██║░░░███████╗███████╗██████╔╝
// ╚═════╝░░░░╚═╝░░░░░░╚═╝░░░╚══════╝╚══════╝╚═════╝░

// Setup

// Adds the basic classes needed for the mandala sizes to work
@include AddClasses(
    (
        width: (
            "noncustom",
            FromTo(0, 200),
        ),
        height: (
            "noncustom",
            FromTo(0, 200),
        ),
        radius: (
            "custom",
            $rad,
        ),
    )
);

// Will make a keyframe for all sizes and directions for a mandala to spin
@each $val in $mandala-sizes {
    @include SpinKeyframe($val, "clockwise");
    @include SpinKeyframe($val, "counterclockwise");
}

// Actual styles

.black-bg {
    background-color: map-get($palette, "bg");
}

.white-bg {
    background-color: map-get($palette, "line");
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    width: 0;
}

body {
    @include GridOver;
    overflow-x: hidden;
    ::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    header {
        overflow: hidden;
        @include GridOver;
        height: 100vh;
        width: 100vw;
        animation: fade-out 0.5s 5s;
        animation-fill-mode: both;
        position: relative;
        z-index: 1;
        .mandala {
            transform: scale(3);
            animation: Spin-clockwise-3 60s 0 linear;
            animation-iteration-count: infinite;
            &:nth-of-type(1) {
                align-self: flex-end;
                justify-self: flex-end;
            }
        }
        .intro-text {
            height: 13em;
            overflow: hidden;
            align-self: center;
            justify-self: center;
            color: map-get($palette, "line");
            h1 {
                font-family: $title-font;
                @include FlexCenter(row);
                gap: 0.5vw;
                font-size: 10em;
                line-height: 1em;
                span {
                    transform: translate(0, 5em);
                    @for $i from 0 through 7 {
                        &:nth-of-type(#{$i}) {
                            animation: slide-up 1s #{$i / 7}s ease;
                            animation-fill-mode: both;
                        }
                    }
                }
            }
            h2 {
                font-family: $subtitle-font;
                font-weight: 400;
                letter-spacing: 0.125em;
                opacity: 0;
                text-align: center;
                font-size: 1.5em;
                animation: fade-in 1s 2s ease;
                animation-fill-mode: both;
                span {
                    color: map-get($palette, "hl");
                }
            }
        }
    }
    main {
        article.title-card {
            overflow: hidden;
            height: 100vh;
            animation-fill-mode: both;
            display: flex;
            position: relative;
            z-index: 0;
            section.content {
                width: 100%;
                animation: balance-black 1s 6s
                    cubic-bezier(0.17, 0.67, 0.21, 0.95);
                animation-fill-mode: both;
                position: relative;
                z-index: 1;
                box-shadow: 5px 0 20px map-get($palette, "shadow");
                @include GridOver;
                .label-cont {
                    width: 0;
                    height: 0;
                    align-self: flex-end;
                    label {
                        color: map-get($palette, "line");
                        font-family: $subtitle-font;
                        font-size: 2em;
                        position: absolute;
                        top: 100vh;
                        left: 0;
                        transform-origin: 0 0;
                    }
                }
                input[type="radio"] {
                    position: absolute;
                    top: 100vh;
                    left: 0;
                    #slide1-btn {
                        &::after {
                            content: "About";
                        }
                    }
                    #slide1-btn {
                        &::after {
                            content: "Skills";
                        }
                    }
                    #slide1-btn {
                        &::after {
                            content: "Projects";
                        }
                    }
                    #slide1-btn {
                        &::after {
                            content: "Contact";
                        }
                    }
                    #slide1-btn {
                        &::after {
                            content: "Resume";
                        }
                    }
                    #slide1-btn {
                        &::after {
                            content: "Credits";
                        }
                    }
                }
                .slides {
                    @include GridOver;
                    height: 100vh;
                    .mandala {
                        transform: scale(3)
                            translate(calc(-50% / 3), calc(50% / 3));
                        align-self: flex-end;
                    }
                    .slide {
                        opacity: 0;
                        color: map-get($palette, "line");
                        padding: 5rem;
                        h5 {
                            color: map-get($palette, "hl");
                            transform: translate(-0.25em, 0);
                            animation: fade-in 0.75s 7s, slide-in 0.75s 7s;
                            font-family: $title-font;
                            font-size: 5em;
                            line-height: 0.9em;
                            animation-fill-mode: both;
                            letter-spacing: 0.00125em;
                            display: flex;
                            flex-direction: column;
                            &::after {
                                content: "";
                                width: 3em;
                                height: 0.0625em;
                                border-radius: 0.03125em;
                                background-color: map-get($palette, "hl");
                            }
                        }
                        p {
                            text-indent: 2em;
                            text-align: justify;
                            margin-top: 0.25em;
                            padding: 0 2em;
                            animation: fade-in 0.75s 7.5s;
                            font-size: 2em;
                            font-family: $subtitle-font;
                            animation-fill-mode: both;
                            letter-spacing: 0.0125em;
                            line-height: 1.35em;
                            a {
                                color: map-get($palette, "hl");
                            }
                        }
                    }
                    .about {
                        opacity: 1;
                        h5,
                        p {
                            opacity: 0;
                        }
                    }
                }
            }
            section.photo-and-details {
                position: relative;
                z-index: 0;
                width: 0;
                opacity: 0;
                animation: balance-white 1s 6s
                        cubic-bezier(0.17, 0.67, 0.21, 0.95),
                    fade-in 1s 7s;
                animation-fill-mode: both;
                @include FlexCenter(column);
                justify-content: space-between;
                .details {
                    @include FlexCenter(column);
                    gap: 5em;
                    .self-photo {
                        margin-top: 6rem;
                        @include GridOver;
                        justify-items: center;
                        align-items: center;
                        .mandala {
                            transform: scale(3);
                            animation: Spin-clockwise-3 60s 0 linear;
                            animation-iteration-count: infinite;
                            .pedal-shell {
                                background-color: map-get($palette, "bg");
                                .pedal-whitespace {
                                    background-color: map-get($palette, "line");
                                    border-radius: 0 50% 50% 0;
                                }
                            }
                            .ring-body {
                                background-color: map-get($palette, "bg");
                                .ring-whitespace {
                                    background-color: map-get($palette, "line");
                                }
                            }
                            .dash-body {
                                background-color: map-get($palette, "bg");
                            }
                        }
                        .photo {
                            width: 350px;
                            height: 350px;
                            border-radius: 50%;
                            border: solid 7.5px map-get($palette, "bg");
                            overflow: hidden;
                            position: relative;
                            z-index: 2;
                            img {
                                width: 400px;
                            }
                        }
                    }
                    .name {
                        text-align: center;
                        h3 {
                            font-size: 4em;
                            letter-spacing: 0.0625em;
                            color: map-get($palette, "hl");
                            font-family: $title-font;
                        }
                        h4 {
                            margin-top: 10px;
                            font-size: 1.25em;
                            font-family: $subtitle-font;
                        }
                    }
                }
                .socials {
                    margin: 1.5em;
                    @include FlexCenter(row);
                    align-self: flex-end;
                    gap: 10px;
                    .img-cont {
                        width: 60px;
                        height: 60px;
                        @include FlexCenter(row);
                        img {
                            width: 50px;
                            height: 50px;
                            transition: 0.5s width, 0.5s height;
                            &:hover {
                                width: 60px;
                                height: 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.mandala {
    width: fit-content;
    height: fit-content;
    @include GridOver;
    * {
        position: relative;
        justify-self: center;
        align-self: center;
        @include GridOver;
    }
    .pedal {
        width: auto;
        height: auto;
        .pedal-shell {
            display: flex;
            align-items: center;
            border-radius: 0 50% 50% 0;
            background-color: map-get($palette, "line");
            .pedal-whitespace {
                background-color: map-get($palette, "bg");
                border-radius: 0 50% 50% 0;
            }
        }
    }
    .ring-body {
        @include FlexCenter(row);
        background-color: map-get($palette, "line");
        border-radius: 50%;
        .ring-whitespace {
            background-color: map-get($palette, "bg");
            border-radius: 50%;
        }
    }
    .dash {
        .dash-body {
            border-radius: 50%;
            background-color: map-get($palette, "line");
        }
    }
}

@keyframes slide-up {
    to {
        transform: translate(0, 0);
    }
}

@keyframes slide-in {
    to {
        transform: translate(0, 0);
    }
}

@keyframes balance-black {
    to {
        width: calc(100vw - 500px);
    }
}

@keyframes balance-white {
    to {
        width: 500px;
    }
}
